@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1777962318378') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangchuan:before {
  content: "\e635";
}

.icon-shuaxin:before {
  content: "\e651";
}

.icon-a-ziyuan817:before {
  content: "\e7a8";
}

